@import '~bootstrap/scss/bootstrap';

body {
  padding: 0;
  margin: 0;
  background: #007bff;
  background: gray;
}
.navbar {
  background:#6ab446;
}
.navbar-brand {
  color: #fff;
}
.navbar-collapse {
  justify-content: flex-end;
}
